name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          node-version-file: '.nvmrc'

  lint:
    runs-on: ubuntu-latest
    needs:
      - start
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          node-version-file: '.nvmrc'

      - name: Lint project
        run: pnpm run lint

  vitest:
    runs-on: ubuntu-latest
    needs:
      - start
      - lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          node-version-file: '.nvmrc'

      - name: Run vitest
        run: pnpm run test:vitest
